/*
****** LIMPAR FORMATAÇÕES PADRÕES ******
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0;
    padding: 0;
}
/*
****** FORMATAÇÕES GENÉRICAS ******
*/
body{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c4c4c4;
}

h1{
    color: #252525;
    font-size: 40px;
    font-family: "Bungee", sans-serif;

}

h2{
    color: #0066CC;
}

h3{
    color: #565656;
    background-color: #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

/*
****** HEADER ******
*/

#header {
    background-color: #0066CC;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

#logo, #menu {
    padding: 10px;
}

#header a:link, #header a:visited {
    color: white;
    padding: 8px 12px;
}

#header a:hover {
    background-color: white;
    color: #0066CC;
    text-decoration: none;
}
.white {
    color: white;
}

/*
****** BODY ******
*/

#content {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#posts {
    width: 660px;
    float: left;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #999999;
    text-align: justify;
    border-radius: 10px;
}

.data-post {
    font-size: 0.8em;
    border-bottom: 1px  #0066CC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

/*
****** RIGHT SIDE ******
*/

#right-side {
    width: 240px;
    float: right;
}

.content-right {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999999;

}

.post-right {
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px dotted #CCCCCC;
}

.img-post {
    width: 620px;
}

/*
****** FORMATAÇÕES dos LINKS ******
*/

a{
    text-decoration: none; /*Remover o sublinhado dos links*/
}
/*Utilizando o seletor universal dos links "a", para definir em todos o mesmo comportamento*/

a:link, a:visited {
    color: #0066CC;
}

a:hover {
    text-decoration: underline;
}

/*
****** FOOTER ******
*/

#footer {
    clear: both;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: #0066CC;
}